.elementor-1208 .elementor-element.elementor-element-1b86d5f>.elementor-container {
    min-height: 12vh;
}

.elementor-1208 .elementor-element.elementor-element-1b86d5f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 3;
    position: fixed;
    width: 100%;
    background: linear-gradient(180deg, #0d1b38, #0f1a3a);
}

.elementor-1208 .elementor-element.elementor-element-1b86d5f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-1208 .elementor-element.elementor-element-6ad12fc.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1208 .elementor-element.elementor-element-6ad12fc.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1208 .elementor-element.elementor-element-6ad12fc>.elementor-element-populated {
    padding: 0.5em 1em 0.5em 1em;
}

.elementor-1208 .elementor-element.elementor-element-360f8a8 {
    text-align: left;
}


/* .elementor-1208 .elementor-element.elementor-element-360f8a8 img {
    width: 100%;
} */

.elementor-bc-flex-widget .elementor-1208 .elementor-element.elementor-element-1861868.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1208 .elementor-element.elementor-element-1861868.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1208 .elementor-element.elementor-element-1861868>.elementor-element-populated {
    padding: 0em 0em 0em 0em;
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-container {
    height: 75px;
    background-color: transparent;
    border-radius: 0px 0px 0px 0px;
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a {
    font-family: var(--e-global-typography-c85a336-font-family), Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: var(--e-global-typography-c85a336-text-transform);
    line-height: var(--e-global-typography-c85a336-line-height);
    letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
    word-spacing: var(--e-global-typography-c85a336-word-spacing);
    color: var(--e-global-color-primary);
    padding: 0px 0px 0px 40px;
    align-items: end;
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a>img {
    padding-right: 8px;
}

.nav-link-img {
    margin-bottom: -7px;
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a:hover {
    color: var(--e-global-color-57109ea);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a:focus {
    color: var(--e-global-color-57109ea);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a:active {
    color: var(--e-global-color-57109ea);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li:hover>a {
    color: #cf2c00;
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
    color: #cf2c00;
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
    color: var(--e-global-color-57109ea);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
    color: var(--e-global-color-57109ea);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
    color: var(--e-global-color-57109ea);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li.current-menu-item>a {
    color: var(--e-global-color-57109ea);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li.current-menu-ancestor>a {
    color: var(--e-global-color-57109ea);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
    color: var(--e-global-color-57109ea);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
    color: var(--e-global-color-primary);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
    font-family: var(--e-global-typography-99bf274-font-family), Sans-serif;
    font-size: var(--e-global-typography-99bf274-font-size);
    font-weight: var(--e-global-typography-99bf274-font-weight);
    text-transform: var(--e-global-typography-99bf274-text-transform);
    line-height: var(--e-global-typography-99bf274-line-height);
    letter-spacing: var(--e-global-typography-99bf274-letter-spacing);
    word-spacing: var(--e-global-typography-99bf274-word-spacing);
    padding: 15px 15px 15px 15px;
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-ef20747);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
    color: var(--e-global-color-secondary);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
    color: var(--e-global-color-secondary);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
    color: var(--e-global-color-secondary);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
    color: var(--e-global-color-secondary);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover,
.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus,
.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active,
.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
    background-color: var(--e-global-color-228c53f);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
    color: var(--e-global-color-secondary);
    background-color: var(--e-global-color-228c53f);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-submenu-panel {
    padding: 15px 0px 15px 0px;
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    background-color: var(--e-global-color-ef20747);
    border-radius: 0px 0px 0px 0px;
    min-width: 220px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-hamburger {
    float: right;
    background-color: #f3bb20;
    border-style: solid;
    border-color: #f3bb20;
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
    background-color: #000;
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-hamburger>.ekit-menu-icon {
    color: var(--e-global-color-228c53f);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-hamburger:hover {
    background-color: #f3bb20;
    border-style: solid;
    border-color: #f3bb20;
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-hamburger:hover>.ekit-menu-icon {
    color: var(--e-global-color-primary);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-close {
    background-color: #f3bb20;
    border-style: solid;
    border-color: #f3bb20;
    color: var(--e-global-color-ef20747);
}

.elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-close:hover {
    background-color: #f3bb20;
    border-style: solid;
    border-color: #f3bb20;
    color: var(--e-global-color-primary);
}

.elementor-bc-flex-widget .elementor-1208 .elementor-element.elementor-element-c7fd6e1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1208 .elementor-element.elementor-element-c7fd6e1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1208 .elementor-element.elementor-element-c7fd6e1>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 1em 1em 1em 1em;
}

.elementor-1208 .elementor-element.elementor-element-c7fd6e1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1208 .elementor-element.elementor-element-bd4cc55 .ekit_navsearch-button {
    font-size: 30px;
    margin: 5px 5px 5px 5px;
    padding: 0px 0px 0px 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: right;
}

.elementor-1208 .elementor-element.elementor-element-bd4cc55 .ekit_navsearch-button svg {
    max-width: 30px;
}

.elementor-1208 .elementor-element.elementor-element-bd4cc55 .ekit_navsearch-button,
.elementor-1208 .elementor-element.elementor-element-bd4cc55 .ekit_search-button i {
    color: var(--e-global-color-primary);
}

.elementor-1208 .elementor-element.elementor-element-bd4cc55 .ekit_navsearch-button svg path,
.elementor-1208 .elementor-element.elementor-element-bd4cc55 .ekit_search-button svg path {
    stroke: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-1208 .elementor-element.elementor-element-bd4cc55 .ekit_navsearch-button:hover,
.elementor-1208 .elementor-element.elementor-element-bd4cc55 .ekit_search-button:hover i {
    color: var(--e-global-color-57109ea);
}

.elementor-1208 .elementor-element.elementor-element-bd4cc55 .ekit_navsearch-button:hover svg path,
.elementor-1208 .elementor-element.elementor-element-bd4cc55 .ekit_search-button:hover svg path {
    stroke: var(--e-global-color-57109ea);
    fill: var(--e-global-color-57109ea);
}

:root {
    --page-title-display: none;
}

@media(min-width:768px) {
    .elementor-1208 .elementor-element.elementor-element-6ad12fc {
        width: 26%;
    }
    .elementor-1208 .elementor-element.elementor-element-1861868 {
        width: 70%;
    }
    .elementor-1208 .elementor-element.elementor-element-c7fd6e1 {
        width: 6.448%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1208 .elementor-element.elementor-element-6ad12fc {
        width: 34%;
    }
    .elementor-1208 .elementor-element.elementor-element-1861868 {
        width: 60%;
    }
    .elementor-1208 .elementor-element.elementor-element-c7fd6e1 {
        width: 12%;
    }
}

@media(max-width:1024px) {
    .elementor-1208 .elementor-element.elementor-element-360f8a8 img {
        width: 100%;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-container {
        max-width: 350px;
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a {
        font-size: var(--e-global-typography-c85a336-font-size);
        line-height: var(--e-global-typography-c85a336-line-height);
        letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
        word-spacing: var(--e-global-typography-c85a336-word-spacing);
        color: var(--e-global-color-primary);
        padding: 10px 15px 10px 15px;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a:hover {
        color: var(--e-global-color-secondary);
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a:focus {
        color: var(--e-global-color-secondary);
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a:active {
        color: var(--e-global-color-secondary);
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li:hover>a {
        color: #cf2c00;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
        color: #cf2c00;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
        color: var(--e-global-color-secondary);
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
        color: var(--e-global-color-secondary);
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
        color: var(--e-global-color-secondary);
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li.current-menu-item>a {
        color: var(--e-global-color-secondary);
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li.current-menu-ancestor>a {
        color: var(--e-global-color-secondary);
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
        color: var(--e-global-color-secondary);
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
        font-size: var(--e-global-typography-99bf274-font-size);
        line-height: var(--e-global-typography-99bf274-line-height);
        letter-spacing: var(--e-global-typography-99bf274-letter-spacing);
        word-spacing: var(--e-global-typography-99bf274-word-spacing);
        padding: 15px 15px 15px 15px;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-hamburger {
        padding: 8px 8px 8px 8px;
        width: 45px;
        border-radius: 0px;
        border-width: 1px 1px 1px 1px;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-hamburger:hover {
        border-width: 1px 1px 1px 1px;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-close {
        padding: 8px 8px 8px 8px;
        margin: 12px 12px 12px 12px;
        width: 45px;
        border-radius: 0px;
        border-width: 1px 1px 1px 1px;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-menu-close:hover {
        border-width: 1px 1px 1px 1px;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-nav-logo>img {
        /* max-width: 160px; */
        max-height: 60px;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-nav-logo {
        margin: 5px 0px 5px 0px;
        padding: 5px 5px 5px 5px;
    }
}

@media(max-width:767px) {
    .elementor-1208 .elementor-element.elementor-element-6ad12fc {
        width: 70%;
    }
    .elementor-bc-flex-widget .elementor-1208 .elementor-element.elementor-element-6ad12fc.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-1208 .elementor-element.elementor-element-6ad12fc.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-1208 .elementor-element.elementor-element-1861868 {
        width: 25%;
    }
    .elementor-bc-flex-widget .elementor-1208 .elementor-element.elementor-element-1861868.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-1208 .elementor-element.elementor-element-1861868.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav>li>a {
        font-size: var(--e-global-typography-c85a336-font-size);
        line-height: var(--e-global-typography-c85a336-line-height);
        letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
        word-spacing: var(--e-global-typography-c85a336-word-spacing);
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
        font-size: var(--e-global-typography-99bf274-font-size);
        line-height: var(--e-global-typography-99bf274-line-height);
        letter-spacing: var(--e-global-typography-99bf274-letter-spacing);
        word-spacing: var(--e-global-typography-99bf274-word-spacing);
    }
    .elementor-1208 .elementor-element.elementor-element-d191a3f .elementskit-nav-logo>img {
        max-width: 250px;
        /* max-height: 50px; */
    }
    .elementor-1208 .elementor-element.elementor-element-c7fd6e1 {
        width: 20%;
    }
    .elementor-bc-flex-widget .elementor-1208 .elementor-element.elementor-element-c7fd6e1.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-1208 .elementor-element.elementor-element-c7fd6e1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-1208 .elementor-element.elementor-element-bd4cc55 .ekit_navsearch-button {
        font-size: 23px;
    }
    .elementor-1208 .elementor-element.elementor-element-bd4cc55 .ekit_navsearch-button svg {
        max-width: 23px;
    }
}

@media only screen and (min-width: 1400px) {
    .elementor-1208 .elementor-element.elementor-element-6ad12fc {
        width: 26%;
    }
}