.elementor-1257 .elementor-element.elementor-element-c46488d>.elementor-container {
    /* min-height: 40vh; */
    padding: 5px 0px 0px 0px;
}

.elementor-1257 .elementor-element.elementor-element-c46488d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    background-image: url(../../../../../images/Footer/Footer_BG.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.elementor-1257 .elementor-element.elementor-element-a1687b5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1257 .elementor-element.elementor-element-a1687b5>.elementor-element-populated {
    padding: 1em 1em 1em 1em;
}

.elementor-1257 .elementor-element.elementor-element-cd4d3ce {
    text-align: center;
}

.elementor-1257 .elementor-element.elementor-element-cd4d3ce img {
    /* width: 18%; */
    padding-bottom: 15px;
}

.elementor-1257 .elementor-element.elementor-element-51e8746>.elementor-container {
    max-width: 745px;
}

.elementor-1257 .elementor-element.elementor-element-72b020e .elementor-icon-list-icon i {
    color: #f5b309;
}

.elementor-1257 .elementor-element.elementor-element-72b020e .elementor-icon-list-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-1257 .elementor-element.elementor-element-72b020e .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #cf2c00;
}

.elementor-1257 .elementor-element.elementor-element-72b020e .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-228c53f);
}

.elementor-1257 .elementor-element.elementor-element-72b020e {
    --e-icon-list-icon-size: 14px;
}

.elementor-1257 .elementor-element.elementor-element-72b020e .elementor-icon-list-text {
    color: var(--e-global-color-primary);
}

.elementor-1257 .elementor-element.elementor-element-72b020e .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #cf2c00;
}

.elementor-1257 .elementor-element.elementor-element-72b020e .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1257 .elementor-element.elementor-element-72b020e .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-c85a336-font-family), Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: var(--e-global-typography-c85a336-text-transform);
    line-height: var(--e-global-typography-c85a336-line-height);
    letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
    word-spacing: var(--e-global-typography-c85a336-word-spacing);
}

.elementor-1257 .elementor-element.elementor-element-4226795 .elementor-icon-list-icon i {
    color: #f5b309;
}

.elementor-1257 .elementor-element.elementor-element-4226795 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-1257 .elementor-element.elementor-element-4226795 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #cf2c00;
}

.elementor-1257 .elementor-element.elementor-element-4226795 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-228c53f);
}

.elementor-1257 .elementor-element.elementor-element-4226795 {
    --e-icon-list-icon-size: 14px;
}

.elementor-1257 .elementor-element.elementor-element-4226795 .elementor-icon-list-text {
    color: var(--e-global-color-primary);
}

.elementor-1257 .elementor-element.elementor-element-4226795 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #cf2c00;
}

.elementor-1257 .elementor-element.elementor-element-4226795 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1257 .elementor-element.elementor-element-4226795 .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-c85a336-font-family), Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: var(--e-global-typography-c85a336-text-transform);
    line-height: var(--e-global-typography-c85a336-line-height);
    letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
    word-spacing: var(--e-global-typography-c85a336-word-spacing);
}

.elementor-1257 .elementor-element.elementor-element-e26ee75 .elementor-icon-list-icon i {
    color: #f5b309;
}

.elementor-1257 .elementor-element.elementor-element-e26ee75 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-1257 .elementor-element.elementor-element-e26ee75 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #cf2c00;
}

.elementor-1257 .elementor-element.elementor-element-e26ee75 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-228c53f);
}

.elementor-1257 .elementor-element.elementor-element-e26ee75 {
    --e-icon-list-icon-size: 14px;
}

.elementor-1257 .elementor-element.elementor-element-e26ee75 .elementor-icon-list-text {
    color: var(--e-global-color-primary);
}

.elementor-1257 .elementor-element.elementor-element-e26ee75 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #cf2c00;
}

.elementor-1257 .elementor-element.elementor-element-e26ee75 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1257 .elementor-element.elementor-element-e26ee75 .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-c85a336-font-family), Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: var(--e-global-typography-c85a336-text-transform);
    line-height: var(--e-global-typography-c85a336-line-height);
    letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
    word-spacing: var(--e-global-typography-c85a336-word-spacing);
}

.elementor-1257 .elementor-element.elementor-element-9ce783d .elementor-icon-list-icon i {
    color: #f5b309;
}

.elementor-1257 .elementor-element.elementor-element-9ce783d .elementor-icon-list-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-1257 .elementor-element.elementor-element-9ce783d .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #cf2c00;
}

.elementor-1257 .elementor-element.elementor-element-9ce783d .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-228c53f);
}

.elementor-1257 .elementor-element.elementor-element-9ce783d {
    --e-icon-list-icon-size: 14px;
}

.elementor-1257 .elementor-element.elementor-element-9ce783d .elementor-icon-list-text {
    color: var(--e-global-color-primary);
}

.elementor-1257 .elementor-element.elementor-element-9ce783d .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #cf2c00;
}

.elementor-1257 .elementor-element.elementor-element-9ce783d .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1257 .elementor-element.elementor-element-9ce783d .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-c85a336-font-family), Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: var(--e-global-typography-c85a336-text-transform);
    line-height: var(--e-global-typography-c85a336-line-height);
    letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
    word-spacing: var(--e-global-typography-c85a336-word-spacing);
}

.elementor-1257 .elementor-element.elementor-element-66f8a6e {
    text-align: center;
}

.elementor-1257 .elementor-element.elementor-element-66f8a6e>.elementor-widget-container {
    margin: 0% 28% 0% 30%;
    color: #e0e0e0;
}

.elementor-1257 .elementor-element.elementor-element-89122ed {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 15px;
    --grid-row-gap: 0px;
}

.elementor-1257 .elementor-element.elementor-element-89122ed .elementor-widget-container {
    text-align: center;
}

.elementor-1257 .elementor-element.elementor-element-89122ed .elementor-social-icon {
    background-color: var(--e-global-color-e0e99d8);
}

.elementor-1257 .elementor-element.elementor-element-89122ed .elementor-social-icon i {
    color: var(--e-global-color-primary);
}

.elementor-1257 .elementor-element.elementor-element-89122ed .elementor-social-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-1257 .elementor-element.elementor-element-89122ed .elementor-icon {
    border-radius: 1px 1px 1px 1px;
}

.elementor-1257 .elementor-element.elementor-element-89122ed .elementor-social-icon:hover {
    background-color: var(--e-global-color-e0e99d8);
}

.elementor-1257 .elementor-element.elementor-element-89122ed .elementor-social-icon:hover i {
    color: var(--e-global-color-228c53f);
}

.elementor-1257 .elementor-element.elementor-element-89122ed .elementor-social-icon:hover svg {
    fill: var(--e-global-color-228c53f);
}

.elementor-1257 .elementor-element.elementor-element-3e07320 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-primary);
    --divider-border-width: 1px;
}

.elementor-1257 .elementor-element.elementor-element-3e07320 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-1257 .elementor-element.elementor-element-3e07320 .elementor-divider {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-1257 .elementor-element.elementor-element-7f4052c {
    text-align: center;
}

.elementor-1257 .elementor-element.elementor-element-7f4052c .elementor-heading-title {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: 14px;
    font-weight: var(--e-global-typography-text-font-weight);
}

@media(max-width:1024px) {
    .elementor-1257 .elementor-element.elementor-element-cd4d3ce img {
        width: 30%;
    }
    .elementor-1257 .elementor-element.elementor-element-72b020e .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-1257 .elementor-element.elementor-element-72b020e .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-c85a336-font-size);
        line-height: var(--e-global-typography-c85a336-line-height);
        letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
        word-spacing: var(--e-global-typography-c85a336-word-spacing);
    }
    .elementor-1257 .elementor-element.elementor-element-4226795 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-1257 .elementor-element.elementor-element-4226795 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-c85a336-font-size);
        line-height: var(--e-global-typography-c85a336-line-height);
        letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
        word-spacing: var(--e-global-typography-c85a336-word-spacing);
    }
    .elementor-1257 .elementor-element.elementor-element-e26ee75 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-1257 .elementor-element.elementor-element-e26ee75 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-c85a336-font-size);
        line-height: var(--e-global-typography-c85a336-line-height);
        letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
        word-spacing: var(--e-global-typography-c85a336-word-spacing);
    }
    .elementor-1257 .elementor-element.elementor-element-9ce783d .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-1257 .elementor-element.elementor-element-9ce783d .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-c85a336-font-size);
        line-height: var(--e-global-typography-c85a336-line-height);
        letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
        word-spacing: var(--e-global-typography-c85a336-word-spacing);
    }
    .elementor-1257 .elementor-element.elementor-element-66f8a6e>.elementor-widget-container {
        margin: 1% 1% 1% 1%;
    }
    .elementor-1257 .elementor-element.elementor-element-7f4052c .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
    }
}

@media(max-width:767px) {
    .elementor-1257 .elementor-element.elementor-element-cd4d3ce img {
        width: 50%;
    }
    .elementor-1257 .elementor-element.elementor-element-5d49ab8 {
        width: 50%;
    }
    .elementor-1257 .elementor-element.elementor-element-72b020e .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-1257 .elementor-element.elementor-element-72b020e .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-c85a336-font-size);
        line-height: var(--e-global-typography-c85a336-line-height);
        letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
        word-spacing: var(--e-global-typography-c85a336-word-spacing);
    }
    .elementor-1257 .elementor-element.elementor-element-c5c04b9 {
        width: 50%;
    }
    .elementor-1257 .elementor-element.elementor-element-4226795 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-1257 .elementor-element.elementor-element-4226795 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-c85a336-font-size);
        line-height: var(--e-global-typography-c85a336-line-height);
        letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
        word-spacing: var(--e-global-typography-c85a336-word-spacing);
    }
    .elementor-1257 .elementor-element.elementor-element-0caeadb {
        width: 50%;
    }
    .elementor-1257 .elementor-element.elementor-element-e26ee75 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-1257 .elementor-element.elementor-element-e26ee75 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-c85a336-font-size);
        line-height: var(--e-global-typography-c85a336-line-height);
        letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
        word-spacing: var(--e-global-typography-c85a336-word-spacing);
    }
    .elementor-1257 .elementor-element.elementor-element-fb75e94 {
        width: 50%;
    }
    .elementor-1257 .elementor-element.elementor-element-9ce783d .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-1257 .elementor-element.elementor-element-9ce783d .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-c85a336-font-size);
        line-height: var(--e-global-typography-c85a336-line-height);
        letter-spacing: var(--e-global-typography-c85a336-letter-spacing);
        word-spacing: var(--e-global-typography-c85a336-word-spacing);
    }
    .elementor-1257 .elementor-element.elementor-element-7f4052c .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
    }
}